<!-- infobox -->
<div id="pokaII" style="border:1px solid black;display:none;background-color:LightGray;position:fixed;width:95vw;height:80vh;left:2.5vw;top:10vh;z-index:900;color:black;overflow:scroll;">
	
	<div id="poka2II" style="width:95vw;position:fixed;">
          	<div style="background-color:gray;width:100%;text-align:right;height:2rem;color:white;">
            		<div id="tytII" style="width:calc(100% - 2rem);position:absolute;text-align:center;">
			</div>
            		<img style="background-color:black;width:2rem;height:2rem;cursor:pointer;" src="https://autoserwis.leki.expert/static/iks2.jpg" onclick='document.getElementById("pokaII").style.display ="none";' />
           	 </div>


	</div>
	        <div id="fikimikiII" style="margin-top:2.5rem;margin-left:1rem;margin-right:1rem;font-size:12px;"></div>

</div>


<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.html_pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
	<!--
	<ul class="actions vertical">
		<li><a href="#" class="button special fit">Get Started</a></li>
		<li><a href="#" class="button fit">Log In</a></li>
	</ul>
        -->
</nav>
